.container{
    width: 100vw;
    display:grid;
    grid-gap:10px;
    grid-template-columns: repeat(8,140px);
    justify-content: center;
    margin-top:10px;
    
    .listElements{

        .element{
            width:140px;
            height:70px;
            display:flex;
            justify-content: center;
            align-items: center;
            font-size:25px;
            color:white;
            background-color: red;
            cursor: pointer;
        }
    }
}