<div class="container">
  <span class="elementList" 
  *ngFor="let music of musics; let i = index"
  [vote]="music.vote">
    <span class="description">
      <span class="titleAuthor">
        {{music.title}} - {{music.author}}
      </span>
      <span class="otherInfo">
        z albumu: {{music.album}}
      </span>
    </span>
    <span class="voting"><button class="votePlus" (click)="voting(i,+1)">+</button> {{music.vote}} <button class="voteMinus" (click)="voting(i,-1)" >-</button></span>
    <button  [routerLink]="['/hit', music.id]">Zobacz szczegóły</button>
  </span>
  
</div>
