.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .elementList {
    width: 80%;
    min-width: 650px;
    height: 100px;
    background-color: red;
    color: white;
    font-size: 25px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top:5px;

    .description {
      display:flex;
      flex-direction: column;

      @mixin musicDescription {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        margin-left:15px;
      }

      .titleAuthor {
        @include musicDescription;
      }

      .otherInfo {
        @include musicDescription;
      }
    }
    button{
      height:50px;
      margin-right:15px;
      border:none;
      background-color: transparent;
      color:white;
    }
  }
  hr{
    width:100%;
  }
}
