<div class="container">
    <span class="bestOfThree">
        <span class="table">
            <span class="label">Best of 3</span>
            <span class="rating" *ngFor="let music of musicsBest">
                <span class="description">
                    <span class="titleAuthor">
                      {{music.title}} - {{music.author}}
                    </span>
                    <span class="otherInfo">
                      z albumu: {{music.album}}
                    </span>
                  </span>
                  <span class="voting"> {{music.vote}}</span>
                  <button  [routerLink]="['/hit', music.id]">Zobacz szczegóły</button>
            </span>
        </span>
    </span>
    <span class="worstOfThree">
        <span class="table">
            <span class="label">Worst of 3</span>
            <span class="rating" *ngFor="let music of musicsWorst">
                <span class="description">
                    <span class="titleAuthor">
                      {{music.title}} - {{music.author}}
                    </span>
                    <span class="otherInfo">
                      z albumu: {{music.album}}
                    </span>
                  </span>
                  <span class="voting"> {{music.vote}}</span>
                  <button  [routerLink]="['/hit', music.id]">Zobacz szczegóły</button>
            </span>
        </span>
    </span>
</div>